<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Generador de degradadados css">
   
     <!-- Metadata para PWA -->
    <!-- Modificar color barra de estado ANDROID -->
    <meta name="theme-color" content="#f5f5dc">
    <!-- Optimizaciones de SEO -->
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly"content="true">
    <!-- Modificar barra de estado IOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    
    <title>Gradient Gen</title>

        <!-- Icons -->
    <link rel="shortcut icon" href="./img/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="./img/favicon.png">
    <link rel="apple-touch-startup-image" href="./img/favicon.png">

    <!-- Manifest -->
    <link rel="manifest" href="./manifest.json">

     <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        
        <h1>{{title}}</h1>
        <hr >
        <form>
            <label>Color 1: <input type="color" v-model="fcolor"></label>
            <label>color 2: <input type="color" v-model="scolor"></label>
            
        </form>

       
        <p>HEX: {{fcolor}}</p>
        <p>HEX: {{scolor}}</p>

        <form>
            
            <label>
                <input class="value-css"type="text" :value="setColor">
            </label> 
       

            <br />
        
            <label>
                <input type="radio" value="1" v-model.number="orientation">
                Right
            </label>
            <label>
                <input type="radio" value="2" v-model.number="orientation">
                left
            </label>
            <label>
                <input type="radio" value="3" v-model.number="orientation">
                top
            </label>
            <label>
                <input type="radio" value="4" v-model.number="orientation">
                bottom
            </label>
        </form>

        <div class="area" :style="setColor"></div>
    </div>

    <script src="./load.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/mountApp.js"></script>
</body>
</html>
